<h1>Listing is_interns</h1>

<table>
  <thead>
    <tr>
      <th>Is intern</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @is_interns.each do |is_intern| %>
      <tr>
        <td><%= is_intern.is_intern %></td>
        <td><%= link_to 'Show', is_intern %></td>
        <td><%= link_to 'Edit', edit_is_intern_path(is_intern) %></td>
        <td><%= link_to 'Destroy', is_intern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Is intern', new_is_intern_path %>
