<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_verification.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_verification.birthday %>
</p>

<p>
  <strong>Is intern:</strong>
  <%= @user_verification.is_intern %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user_verification.mobile %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_verification.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_verification.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user_verification.department %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user_verification.position %>
</p>

<p>
  <strong>Area:</strong>
  <%= @user_verification.area %>
</p>

<p>
  <strong>Subjection:</strong>
  <%= @user_verification.subjection %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user_verification.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @user_verification.fax %>
</p>

<p>
  <strong>Im:</strong>
  <%= @user_verification.im %>
</p>

<p>
  <strong>Id card:</strong>
  <%= @user_verification.id_card %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @user_verification.adress %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user_verification.postcode %>
</p>

<%= link_to 'Edit', edit_user_verification_path(@user_verification) %> |
<%= link_to 'Back', user_verifications_path %>
