<h1>Listing subjections</h1>

<table>
  <thead>
    <tr>
      <th>Subjection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjections.each do |subjection| %>
      <tr>
        <td><%= subjection.subjection %></td>
        <td><%= link_to 'Show', subjection %></td>
        <td><%= link_to 'Edit', edit_subjection_path(subjection) %></td>
        <td><%= link_to 'Destroy', subjection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subjection', new_subjection_path %>
