<%= form_for(@im) do |f| %>
  <% if @im.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@im.errors.count, "error") %> prohibited this im from being saved:</h2>

      <ul>
      <% @im.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :im %><br>
    <%= f.text_field :im %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
